*{
    margin: 0;
    padding: 0;
    font-family: monospace;
    font-size: 24pt;
    font-weight: bold;
}
#bd{
    height: 100vh;
    width: auto;
    background-color: rgb(219, 26, 116);
}
#butone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
#butone h1{
    text-align: center;
    color: white;
}
.butn{
    padding: 10px;
    border: 1px solid white;
    border-radius: 25px;
    background: white;
    color: rgb(219, 26, 116);
    cursor: pointer;
}
#buttwo{
    display: none;
    position: absolute;
    top: 20%;
    left: 20%;
    transform: translateX(-20%) translateY(-20%);
}
#buttwo h1{
    text-align: center;
    color: white;
}
#butthree{
    display: none;
    position: absolute;
    top: 80%;
    left: 80%;
    transform: translateX(-80%) translateY(-80%);
}
#butthree h1{
    text-align: left;
    color: white;
}
#cake{
    display: none;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%) translateY(-60%);
}
#cake h1{
    color: white;
}
#bdc{
    display: none;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%) translateY(-30%);
}